* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
  width: 100vw;
  padding: 20px 40px 40px 40px;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, rgb(72, 25, 243), rgb(15, 108, 238));
}

.card {
  display: flex;
  flex-flow: column wrap;
  width: 300px;
  background-color: rgb(21, 16, 114);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 40px rgba(22, 18, 96, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

.card-header {
  height: 200px;
}

.card-header {
  width: 100%;
  object-fit: cover;
}

.card-content {
  padding: 30px;
  text-align: left;
}

.card-description {
  color: rgba(255, 255, 255, 0.8);
}

.card-title {
  font-family: "JetBrains Mono", monospace;
  margin: 0 0 10px 0;
}

.author {
  display: flex;
  flex-flow: row nowrap;
}

.author-info {
  width: 120px;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: space-around;
  font-family: "JetBrains Mono", monospace;
}

.author-info small {
  color: rgba(255, 255, 255, 0.8);
}

.profile-img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}

/* STYLING LOAD */

.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}
