* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0 auto 40px auto;
  width: 100vw;
  overflow-x: hidden;
  color: rgba(255, 255, 255, 0.7);
  background: center center / cover url("back.jpg") no-repeat;
  background-attachment: fixed;
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.8);
}

header {
  width: 100%;
  background-color: #2e0809;
  padding: 1rem 3rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-style: italic;
  margin: 0;
  font-size: 1rem;
}

form {
  height: fit-content;
}

input {
  font-weight: 700;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 0.75rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.4);
  font-family: inherit;
  transition: all 0.4s;
}

input:focus {
  border-color: rgba(255, 255, 255, 0.2);
  outline: none;
}

main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.movie {
  cursor: pointer;
  position: relative;
  width: 300px;
  height: 450px;
  margin: 1rem;
  background-color: rgba(109, 20, 20, 0.75);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 4px;
}

.movie-text {
  padding: 1rem;
}

.movie-text h2 {
  margin: 0 20px;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
}

.movie-text h3 {
  margin: 0 0 4px 0;
}

.movie-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  letter-spacing: 0.5px;
  background-color: rgba(109, 20, 20, 0.75);
  opacity: 0;
  transform: translateY(-101%);
  transition: all 0.4s ease-out;
}

.movie-info span {
  font-weight: 700;
  background-color: #2e0809;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
}

.movie-info span.green {
  color: lightgreen;
}
.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: mediumvioletred;
}

.overview {
  padding: 1rem 1rem 2rem 1rem;
  color: #2e0809;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  opacity: 0;
  transform: translateY(101%);
  transition: all 0.4s ease-out;
}

img {
  transition: all 0.5s;
}

.movie:hover .movie-info {
  opacity: 1;
  transform: translateY(0);
}

.movie:hover img {
  opacity: 0.8;
  filter: blur(2px);
}

.movie:hover .overview {
  opacity: 1;
  transform: translateY(0);
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
}
